@import '../../vars.css';

.container {
	display: flex;
	flex-direction: column;
	margin: 5%;
	margin-left: 10%;
	margin-right: 10%;
	color: var(--color-text);
	font-family: var(--font-roboto);
}

.title {
	font-size: 35px;
	letter-spacing: 1.75px;
	font-weight: 700;
	padding: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
}

.projects {
	margin-top: 37px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 100px;
}
