@import '../../vars.css';

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 49px;
	z-index: 1;
	margin-left: 10%;
	margin-right: 10%;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var (--color-text);
	z-index: 1;
}

.title {
	font-size: 65px;
	font-weight: 900;
	margin-bottom: 32px;
	font-family: var(--font-roboto);
	color: var(--color-text);
}

.description {
	font-size: 25px;
	font-family: var(--font-roboto);
	margin-bottom: 65px;
	color: var(--color-text);
}

.contactBtn {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-text);
	border-radius: 100px;
	font-size: 27px;
	font-weight: 500;
	padding: 17px 26px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s;
}

.contactBtn:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

.heroImg {
	min-width: 50%;
	height: auto;
	z-index: 1;
}
.topBlur,
.bottomBlur {
	position: absolute;
	height: 50vh;
	min-height: 350px;
	border-radius: 764px;
	background: rgba(25, 55, 109, 0.7);
	z-index: 0;
	filter: blur(100px);
}

.topBlur {
	width: 50vw;
	min-width: 350px;
	top: -128px;
	left: -10vw;
}

.bottomBlur {
	width: 70vw;
	min-width: 250px;
	top: 246px;
	right: -25vw;
}

@media screen and (max-width: 830px) {
	.container {
		flex-direction: column-reverse;
	}
	.content {
		align-items: center;
	}
	.heroImg {
		min-width: 20%;
		max-width: 70%;
	}
}
